<!DOCTYPE html>
<html>
<head>
<title>TOODL</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Monoton">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa">

<style>
body,h1,h2 {font-family: "Comfortaa", sans-serif;}
body, html {
  height: 100%;
  color: #3d8ae9;
  line-height: 2;
}
.title {
  font-family: "Monoton", sans-serif;
  font-size: 2000%;
  color: #3d8ae9;
}
.margin{
  padding: 70px;
  text-align: center;
}

</style>
</head>

<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar" id="Navbar">
    <a href="#index" class="w3-bar-item w3-button">HOME</a>
    <a href="#index" class="w3-bar-item w3-button">LOGIN </a>
    <a href="#index" class="w3-bar-item w3-button">CREATE ACCOUNT</a>
    </a>
  </div>
</div>
</body>


<!-- Title -->
<header class="margin">
  <h1 class="title">TOODL</h1>
  <h2>TO-DO LIST MADE SIMPLE</span></h2>
</header>

</html>
